

.edit_post {
    text-align: center;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: white;
    border-radius: 50px;
    
   
    
      
    
}

.edit_post h2 {
    font-size: 2.2em;
    color: blue;
   
}

.edit_post span, textarea, input {
    color: black;
}




.edit_post p {
    color: rgb(170, 170, 170);
    margin-bottom: 2em;
}

.edit_post .preview_title {
    margin-bottom: .2em;
    color: rgb(225, 1, 255);
    font-weight: bold;
}

.image_preview {
    max-width: 100%;
    margin-bottom: 1em;
}